.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

.navbar > li > .dropdown-menu { background-color: #555555; }

.navbar > li > .dropdown-menu a{   color: #fff;  }
.navbar > li > .dropdown-menu a:hover{   color: #555555;  }


.nav-link {
    color: #fff;
    font-size: 1rem;
}

.float-end a{
    color: #fff;
    font-size: 1rem;
}

.nav-link:hover {
    color: rgb(172, 172, 172);
}
.nav-link:visited {
    color: #fff;
}
.nav-link:focus {
    color: rgb(172, 172, 172);
}

.nav-link .active {
    color: #fff;
    border-bottom-color: #fff;
}

.bg-medium {
    background-color: #d4d4d4;
}

.footer {
    color: #fff;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

.navbar > li > .dropdown-menu { background-color: #555555; }

.navbar > li > .dropdown-menu a{   color: #fff;  }
.navbar > li > .dropdown-menu a:hover{   color: #555555;  }


.nav-link {
    color: #fff;
    font-size: 1rem;
}

.float-end a{
    color: #fff;
    font-size: 1rem;
}

.nav-link:hover {
    color: rgb(172, 172, 172);
}
.nav-link:focus {
    color: rgb(172, 172, 172);
}

.nav-link .active {
    color: #fff;
    border-bottom-color: #fff;
}

.bg-medium {
    background-color: #d4d4d4;
}

.footer {
    color: #fff;
}

.btn-xlg {
    height: 75px;
    width: 30%;
    margin: 0px 20px 20px 0px;
    font-size: 1.5em;
}

a:link {
    color: #777;
  }
  
  /* visited link */
  a:visited {
    color: #777;
  }
  
  /* mouse over link */
  a:hover {
    color: #555555;
  }
  
  /* selected link */
  a:active {
    color: #555555;
  }

  /* did this to fix video for mobile */
  .vidcontainer {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
   

}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  padding-right: 5%;
  padding-left: 5%;

  
}


.album {
  padding: 3%;
  max-width: 2000px;
}

.album-vid {
  max-width: 1020px;
  padding-bottom: 0%;
}